.download-area {
  padding-top: 4rem;
  padding-bottom: 5rem;

  .container {
    .row {
      align-items: center;
      justify-content: center !important;
    }
  }

  .download-image {
    padding-top: 65px;
    padding-bottom: 60px;
    position: relative;

    .download-shape-1 {
      width: 185px;
      height: 185px;
      background-color: #FEB21C;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .download-shape-2 {
      position: absolute;
      bottom: -50px;
      right: 40px;
      z-index: -1;
    }
  }

  .download-content {
    .download-title {
      font-size: 34px;
      font-weight: 600;
    }

    .text {
      margin-top: 35px;
    }

    .btn-download-container {
      display: flex;
      column-gap: 1.5rem;

      .btn-download {
        flex: 1;
        display: flex;
        cursor: pointer;
        padding: 0.8rem 2rem;
        border-radius: 0.3rem;
        justify-content: center;
        
        &.android {
          background-color: #525A63;

          &:hover {
            box-shadow: 0px 4px 25px 0px rgba(82, 90, 99, 0.4);
          }
        }

        &.apple {
          background: #0898E7;

          &:hover {
            box-shadow: 0px 4px 25px 0px rgba(8, 152, 231, 0.4);
          }
        }

        [class^="icon-"] {
          font-size: 2.5rem;
          color: #fff;
          display: inline-block;
          position: relative;
          top: 7px;
          line-height: 23px;
          padding-right: 1rem;
        }

        small {
          line-height: 16px;
        }

        span {
          font-weight: 700;
          letter-spacing: 2px;
          line-height: 23px;
        }
      }
    }

    .text-content {
      color: #fff;
      display: grid;
    }
  }

  &.mobile,
  &.tablet {
    .download-image {
      padding-left: 60px;
    }
  }

  &.mobile {
    .download-image {
      .image {
        max-width: 295px;
        margin: 0 auto;
      }
    }
  }

  &.tablet {
    .download-image {
      .image {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  &.desktop {
    .download-image {
      .image {
        max-width: 750px;
        max-height: 475px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .download-area {
    display: flex;
    justify-content: center;

    .image {
      max-width: 100%;
    }

    &.mobile,
    &.tablet {
      .download-image {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.desktop {
      .image {
        max-width: 750px;
        max-height: 250px;  
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .download-area {
    .download-image {
      display: flex;
      justify-content: center;

      .image {
        max-width: 295px;
      }
    }

    &.desktop {
      .download-image {
        .image {
          max-width: 750px;
          max-height: 250px;  
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .download-content .download-title {
    font-size: 22px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .download-content .download-title {
    font-size: 28px;
  }
}